@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Open sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  @apply bg-background-dark;
  @apply text-purple-200;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.resume.link{
  @apply text-white;
  @apply font-bold;
}
.resume.btn{
  @apply rounded-xl;
  @apply bg-dark-300 p-4 hover:bg-purple-900;
  @apply drop-shadow-xl;

}

.website{
  @apply w-full h-auto rounded-md -z-10;
}

.name{
  @apply text-center w-11;
}

.overview{
  @apply w-[50%] h-auto m-auto;
}
a{
  color: white;
  display: block;
}

/* setting the scrollbar style */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-background-darker;
}

::-webkit-scrollbar-thumb {
  @apply bg-purple-900 rounded-full hover:bg-purple-800;
}

